WinFormsClient/Service References/MiServicioAritmetico/ServicioAritmetico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1356/ServicioAritmetico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" />
  <xs:element name="Sumar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="a" nillable="true" type="q1:Pareja" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="b" nillable="true" type="q2:Pareja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="SumarResult" nillable="true" type="q3:Pareja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="a" nillable="true" type="q4:Pareja" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="b" nillable="true" type="q5:Pareja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" minOccurs="0" name="RestarResult" nillable="true" type="q6:Pareja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>