WinFormsClient/Service References/MiServicioAritmetico/ServicioAritmetico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioAritmeticoDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pareja">
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="Second" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pareja" nillable="true" type="tns:Pareja" />
</xs:schema>